body {
    background-color: #f3f3f3;
    background: url('../images/bg.jpg');  
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vertical-offset-80 {
    padding-top: 80px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

img {
    vertical-align: middle;
}

.chat{
	margin-top:70px;
	margin-bottom: 70px;
}

.userList{
	margin-top:70px;
	margin-bottom: 70px;
}

.user{
	display:block;
    margin-bottom:15px;
    margin-left: 5%;
}

.user img{
    margin-top:-10px;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.dialog{
	width:100%;
	height:auto;
	margin-bottom:15px;
	padding:10px;
    background:#dfe3ee;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #888888;
}

.dialog h4{
	font-size:15px;
	font-weight: bold;
	color:#3b5998;
}

.dialog p{
	font-size:12px;
	padding-left:15px;
	color:#333;
}

.btn-primary {
    background-color: #3b5998;
    color: #fff;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8b9dc3;
    color: #fff;
    border-color: transparent;
}

.btn-primary-inverse {
    background-color: #dfe3ee;
    color: #3b5998;
    border-color: transparent;
}

.btn-primary-inverse:hover, .btn-primary-inverse:active, .btn-primary-inverse:visited {
    background-color: #8b9dc3;
    color: #fff;
    border-color: transparent;    
}

.navbar-default {
    background-color: #3b5998;
    border-color: #8b9dc3;
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #3b5998;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #8b9dc3;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #8b9dc3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #8b9dc3;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #8b9dc3;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #8b9dc3;
  }
  .navbar-default .navbar-toggle {
    border-color: #8b9dc3;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #8b9dc3;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #ffffff;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #8b9dc3;
    }
  }